/* hr {
    background-color: rgb(255, 255, 255) !important;
}

.back-color{
    background-color: blue !important;
    
} */

.header_text {
    color: white !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}